{% extends "layout.html" %} {% block contenu %}

<div class="section">
  <div class="container">
      <div class="title">Ajouter une collection
        </div>
    <div class="columns">
        <div class="column is-8">
          <form class="fc-ajouterCollection" action="{{root}}/addCollection" method="post">
              {% if(error) %}
              <div class="has-text-danger is-danger">
                 {{error}}
                </div>
                {% endif %}
            <div class="field">
              <label class="label">Libellé </label>
              <div class="control has-icons-left has-icons-right">
                <input class="input is-success" type="text" placeholder="Animaux" name="libelle">
                <span class="icon is-small is-left">
                  <i class="fas fa-thumbtack"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fa fa-check"></i>
                </span>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                  <button class="button is-link">Valider</button>
              </div>
              <div class="control">
                  <a class="button is-text" href = "{{root}}/collections">Annuler</a>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}