{% extends "layout.html" %} {% block contenu %} 
<div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <div class="title">Collections disponibles
              <div class="button is-full is-pulled-right">
                  <span class="icon">
                      <i class="fa fa-plus"></i>
                  </span>
                  <span><a href = "{{root}}/ajouterCollection">
                      Ajouter une collection
                  </a></span>
              </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="columns">
        {% for collection in collections %}
        <div class="column is-3">
          <div class="panel">
            <p class="is-marginless">
                <a href="{{root}}/collection/{{collection.id}}">
                    <img src="{{collection.cartes[0].url_image}}">
                </a>
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column has-text-right">
                  <div class="panel-block-item"><i class="fas fa-thumbtack"></i><a href="{{root}}/collection/{{collection.id}}">&nbsp;{{collection.libelle}}</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}