{% extends "layout.html" %} {% block contenu %}
<div class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-12">
          <div class="title">{{collection.libelle}}  
              <div class="button is-full is-pulled-right">
                  <span class="icon">
                      <i class="fa fa-trash-alt"></i>
                  </span>
                  <span><a href = "#" onclick="ConfirmSuppression(); return false;">
                      Supprimer la collection
                  </a></span>
              </div> 
		          <div class="button is-full is-pulled-right">
                  <span class="icon">
                      <i class="fa fa-copy"></i>
                  </span>
                  <span><a href = "{{ path_for('duplicate_collection_page', {id: collection.id}) }}">
                      Dupliquer la collection
                  </a></span>
              </div> 
              <div class="button is-full is-pulled-right">
                  <span class="icon">
                      <i class="fa fa-edit"></i>
                  </span>
                  <span><a href = "{{ path_for('edit_collection_page', {id: collection.id}) }}">
                      Modifier la collection
                  </a></span>
              </div>
              <div class="button is-full is-pulled-right">
                  <span class="icon">
                      <i class="fa fa-gavel"></i>
                  </span>
                  <span><a href = "{{ path_for('edit_rules_page', {id: collection.id}) }}">
                      Modifier les règles
                  </a></span>
              </div> 
               <div class="button is-full is-pulled-right">
                  <span class="icon">
                      <i class="fa fa-plus"></i>
                  </span>
                  <span><a href = "{{ path_for('add_card_page', {collection_id: collection.id}) }}">
                      Ajouter une carte
                  </a></span>
              </div>

              <div class="button is-full is-pulled-right">
                  <span class="icon">
                      <i class="fa fa-plus"></i>
                  </span>
                  <span><a href = "{{ path_for('import_cards_page', {id: collection.id}) }}">
                      Importer les cartes
                  </a></span>
              </div>
             
          </div>        
        </div>
      </div>
      <hr>
      <div class="columns">
        <div class="column is-half">
          {% for msg in flash('messages') %}
            <p class="has-text-success is-success">{{ msg }}</p>
          {% endfor %}
        </div>
      </div>
      <div class="columns is-multiline" >

        {% for carte in collection.cartes %}
        <div class="column is-2">
          <div class="panel">
            <p class="is-marginless">
                <a href = "{{public_url}}/{{carte.url_image}}" target="_blank">
                  <img src="{{public_url}}/{{carte.url_image}}">
                </a>
            </p>
            <div class="panel-block">
              <div class="columns">
                <div class="column">
                  <div class="panel-block-item">
                    <i class="fa fa-tag"></i><a href="{{public_url}}/{{carte.url_image}}" target="_blank">&nbsp;{{carte.description}}</a>
                  </div>            
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
<div class="columns is-10 is-gapless is-marginless is-multiline is-centered">
            <div class="column is-4 is-marginless">
<div class="button is-full">
                  <span class="icon">
                      <i class="fa fa-gamepad"></i>
                  </span>
                  <span><a href = "{{ path_for('get_games_collection', {id: collection.id}) }}">
                      Voir les partie jouées avec cette collection
                  </a></span>
              </div>
</div>
</div>

    </div>
  </div>
<script>
    function ConfirmSuppression() {
      if (confirm("Voulez-vous vraiment supprimer cette collection ainsi que toutes ses cartes ?")) { // Clic sur OK
        document.location.href ="{{ path_for('remove_collection', {id: collection.id}) }}";
      }
    } 
</script>
{% endblock %}
